.breadcrumbs {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-right: 18px;

  &::before {
    content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    width: 6px;
    height: 8px;
    margin-top: -4px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjgiPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzE5Qzg2OCIgZD0iTTYgNEwwIDcuNDY0Vi41MzZMNiA0eiIvPjwvc3ZnPg==");
  }
}

.breadcrumbs__link {
  @include text-size(14px);
  text-decoration: none;

  &:hover:not(&--current),
  &:focus {
    text-decoration: underline;
  }

  &--current {
    color: #c7c7c7;
  }
}
